body{
    margin: 0;
}
div {
    border: 1px solid red;
    display: inline-block; /*putting on the same line*/
    width: 49%;
    vertical-align: top;
    min-height: 200px;

}
.right-side{
    text-align: right;
}